<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eBook_Reader.Properties.LibrarySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eBook_Reader.Properties.LibrarySettings>
            <setting name="LibraryPath" serializeAs="String">
                <value>Library</value>
            </setting>
        </eBook_Reader.Properties.LibrarySettings>
    </userSettings>
</configuration>